<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="myCtrl">
<textarea style="height: 300px;width: 500px" ng-model="model"></textarea><font>共{{len}}行</font><input type="checkbox" ng-model="is_php">转php三目
<textarea style="height: 300px;width: 500px" ng-model="model_new"></textarea><font>共{{len}}行</font>

<script src="../js/angular.min.js"></script>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.is_php = false;
        $scope.model='';
        $scope.len = '';
        $scope.model_new='';

        $scope.$watch(function(){
            $scope.change()
        });

        $scope.change = function(){
            var str = TransferString($scope.model);
            var arr = str.split(',');
            $scope.len = arr.length;

            var sub_arr = [];
            for(var i= 0,len=arr.length;i<len;i++){
                var arr_inner = arr[i].match(/([^\=\;]+)/g);
                if($scope.is_php){
                    sub_arr.push(arr_inner[0]+'= ' +'isset('+arr_inner[1].trim()+')?'+arr_inner[1].trim()+':"";')
                }else{
                    sub_arr.push(arr_inner[0]+'= ' +arr_inner[1].trim()+'?'+arr_inner[1].trim()+':"";')
                }

            }
            $scope.model_new = sub_arr.join('\r\n');
        }
    });

    function TransferString(content)
    {
        var string = content;
        try{
            string=string.replace(/\r\n/g,",")
            string=string.replace(/\n/g,",");
        }catch(e) {
            alert(e.message);
        }
        return string;
    }


</script>



</body>
</html>