<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body ng-controller="myCtrl">
    <textarea style="height: 300px;width: 500px" ng-model="model"></textarea> <br>
    <button ng-click="decode()">url解码</button><button ng-click="encode()">url编码</button><br>
    <textarea style="height: 300px;width: 500px" ng-model="model2"></textarea>
<script src="../js/angular.min.js"></script>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        $scope.model = '';
        $scope.model2 = '';



        $scope.encode = function () {
            $scope.model2 = encodeURIComponent($scope.model);
        }
        $scope.decode = function () {
            $scope.model2 = decodeURIComponent( $scope.model);
        }
    });


</script>


</body>
</html>